<!DOCTYPE html>
<html>
<head>
	<title>BestFriend Alex</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
<style>
	h1,h3 {
	color:#fd6d28;
	}
	body{
	font-family: 'Oswald', sans-serif;
	}
	.alert-primary {
	background-color:#292929;
	color:#fd6d28;
	border-color:#fd6d28;
	}
</style>
</head>
<body style="background-color:#161515;">
<div class="container">
	<div class="row" style="padding:20px;">
	<h1>AlexChatbot<h1><h6> by Stanislav Osipov<h6>
	</div>
	<div class="alert alert-primary" role="alert">
	{{history|safe }} <br>
	</div>
	
	<form  action="/process" method="POST">
  <div class="alert alert-primary" >
    <label for="exampleInputEmail1">Say "Hi" to Alex!</label>
    <input type="text" name="user_input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Talk to my friend"><br>
  <button type="submit" class="alert alert-primary">Send</button>
</form>
</div>
</body>
</html>